svg {
  enable-background: new 0 0 500 500;
}

.st0 {
  fill: #f5f5f5;
}
.st1 {
  fill: #e0e0e0;
}
.st2 {
  fill: #27debf;
}
.st3 {
  opacity: 0.15;
}
.st4 {
  fill: #ffffff;
}
.st5 {
  opacity: 0.2;
}
.st6 {
  opacity: 0.5;
}
.st7 {
  opacity: 0.4;
}
.st8 {
  opacity: 0.3;
}
.st9 {
  fill: #37474f;
}
.st10 {
  fill: #263238;
}
.st11 {
  fill: #455a64;
}
.st12 {
  fill: #fafafa;
}
.st13 {
  fill: #ebebeb;
}
.st14 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #455a64;
}
.st15 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #27debf;
}
.st16 {
  fill: #e6e6e6;
}
.st17 {
  fill: #f28f8f;
}
.st18 {
  fill: #b16668;
}
.st19 {
  opacity: 0.35;
}
.st20 {
  opacity: 0.1;
}
.st21 {
  fill: #9a4a4d;
}
.st22 {
  fill: #ffbda7;
}
.st23 {
  fill: #f0997a;
}
.st24 {
  fill: #ffa8a7;
}
